.App {
    text-align: center;
    font-family: 'Indie Flower', cursive;
}
.welcome {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    font-size: 80px;
    margin-top: 50px;
}

.login-msg{
    font-family: 'Indie Flower', cursive;
    text-align: center;
    font-size: 20px;
}

.board {
    width: 306px;
    margin: 0 auto;
    display: grid;
    grid-template: repeat(3, 100px) / repeat(3, 100px);
    grid-gap: 3px;
    background-color: rgb(87, 110, 116);
    margin-top: 100px;
}
.field {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    font-family: 'Indie Flower', cursive;
}

.description {
    font-size: 30px;
    margin-top: 50px;
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

.login {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: right;
    padding: 10px;
    background-color: rgb(186, 202, 224);
    font-family: 'Indie Flower', cursive;
}

.input {
    font-family: 'Indie FLower', cursive;
    outline: none;
}
